body {
	background-color: black;
	font-family: Candara;
	font-size: 16px;
	color: white;
	margin: 0px;
}

.navibar {
	background-color: white;
	width: 100%;
	display: flex;
	color: black;
}

.title {
	font-size: 26px;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
}

tr {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

td {
	border: 2px solid white;
	padding: 5px;
	font-size: 20px;
	margin: 0px;
	width: 30px;
	height: 30px;
	text-align: center;


}

.navibar-button {
	width: 25%;
	border: 2px solid gray;
	margin: 0px;
	padding: 2px;
	font-style: italic;
	font-size: 20px;
	color: #eeeeee;
	background-color: #222222;
}

.main {
	margin-top: 30px;
	margin-bottom: 30px;
}

.box {
	display: flex;
	flex-wrap: nowrap;
}

.box > div {
	background-color: black;
	margin: auto 20px;
	text-align: left;
	padding: 5px;
	border: 2px dashed white;
	border-radius: 4px;
}

.content-group {
	margin: auto;
	border: 3px solid;
}

.divider {
	color: orange;
	border: 0px;
	font-size: 16px;
	padding: 0px;
}

.icon {
	width: 72px;
}

.footer {
	color: #888888;
	background-color: #111111;
	margin: 0px;
	border: 3px dotted gray;
}